body{
    margin: 0;
    padding: 0;
}
.sky{
    width: 100vw;
    height: 35vh;
    background: lightblue
}
.grass{
    width: 100vw;
    height: 30vh;
    background: seagreen;
}
.road{
    width: 100vw;
    height: 30vh;
    background: rgb(65, 63, 63);
    border-top: 5px solid gray;
}
.lines{
    height: o;
    width: 100vw;
    border: 5px dashed white;
    position: absolute;
    top: 85%;
}
img{
    position: absolute;
    top: 390px;
    animation-name: drive;
    animation-duration: 4s;
}
@keyframes drive{
    from{transform: translateX(0)}
    to{transform: translateX(1150px)}
}